# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Environment files
.env
.env.*

# Test coverage
coverage/

# Docker
*.local
docker-compose.override.yml

# Misc
*.swp
*.swo

#
*.har
